.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: grid;
  place-items: center;
}


.predictButton{
  color: rgb(255, 255, 255);  
  border: 2px solid rgb(255, 255, 255);
  width: 7rem;
  height: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  background-color: black; 
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 0;
  cursor: pointer;
  letter-spacing: 4px;
  font-weight: 600;
}

.predictButton:hover{
   background-color: rgb(20, 165, 51);
   color: rgba(255, 255, 255, 0.833);
   
}


